In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
import matplotlib
import matplotlib.pyplot as plt
plt.style.use("seaborn-dark")

In [3]:
import tools
from typing import List, Tuple

In [4]:
df = pd.read_csv("./data/CPIAUCSL.csv", index_col=0, parse_dates=True)
# df["DATE"] = pd.to_datetime(df["DATE"])
df.columns = ["CPI"]
print(df.dtypes)
df.head()
# month_df = df.resample("M").mean().head()

CPI    float64
dtype: object

              CPI
DATE
1947-02-01  21.62
1947-03-01  22.00
1947-04-01  22.00
1947-05-01  21.95
1947-06-01  22.08

In [5]:
slp = tools.gen_slp_sequential(df, num_time_steps=3)

Failed time step ignored: 859
Failed time step ignored: 860
Failed time step ignored: 861

In [6]:
X, y, ts = tools.format_instances(slp)

num_instances=859, num_inputs=1, num_outputs=1, num_time_steps=3

In [7]:
def split_dataset(
    X: np.ndarray,
    y: np.ndarray,
    ts: List[pd.Timestamp],
    ratio={"train": 0.8, "val": 0.1, "test": 0.1},
    shuffle=False
):
    if shuffle:
        raise NotImplementedError()
    train_end = int(ratio["train"] * X.shape[0])
    val_end = train_end + int(ratio["val"] * X.shape[0])
    return (X_train, y_train, ts_train,
            X_val, y_val, ts_val,
            X_test, y_test, ts_test
           )