In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [4]:
import matplotlib
import matplotlib.pyplot as plt
plt.style.use("seaborn-dark")

In [10]:
import tools
from typing import List, Tuple

In [6]:
df = pd.read_csv("./data/CPIAUCSL.csv", index_col=0, parse_dates=True)
# df["DATE"] = pd.to_datetime(df["DATE"])
df.columns = ["CPI"]
print(df.dtypes)
df.head()
# month_df = df.resample("M").mean().head()

CPI    float64
dtype: object

              CPI
DATE
1947-02-01  21.62
1947-03-01  22.00
1947-04-01  22.00
1947-05-01  21.95
1947-06-01  22.08

In [42]:
slp = gen_slp_sequential(df, num_time_steps=3, label_col=None)

Failed time step ignored: 859
Failed time step ignored: 860
Failed time step ignored: 861

In [52]:
type(t)

pandas._libs.tslibs.timestamps.Timestamp

In [53]:
pd.Timestamp

pandas._libs.tslibs.timestamps.Timestamp

Timestamp('1948-03-01 00:00:00')